Repository googleapis/java-logging-logback, pull requests merged in 2022-01, with the labels that each got.

#644 chore: change name to api_shortname in .repo-metadata.json
  .repo-metadata.json
Labels: api: logging, automerge, owlbot:ignore, size: xs

#653 chore: update release-level in .repo-metadata.json
  .repo-metadata.json
Labels: api: logging, automerge, owlbot:ignore, size: xs

#625 feat: Allow customizing written log entries by exposing parameters via appender configuration
  .readme-partials.yaml
  README.md
  src/main/java/com/google/cloud/logging/logback/LoggingAppender.java
  src/test/java/com/google/cloud/logging/logback/LoggingAppenderTest.java
  src/test/java/com/google/cloud/logging/logback/dummy-credentials.json
Labels: api: logging, size: s

#657 chore: fix unit tests
  src/main/java/com/google/cloud/logging/logback/LoggingAppender.java
Labels: api: logging, size: m

#655 chore: update readme with auto-population and redirect to stdout info
  .readme-partials.yaml
Labels: api: logging, size: xs

#654 feat: enable auto-population of missing metadata in logs and printing structured logs to stdout
  .readme-partials.yaml
  README.md
  src/main/java/com/google/cloud/logging/logback/LoggingAppender.java
  src/test/java/com/example/enhancers/AnotherTestLoggingEnhancer.java
  src/test/java/com/example/enhancers/TestLoggingEnhancer.java
  src/test/java/com/google/cloud/logging/logback/LoggingAppenderTest.java
Labels: api: logging, size: m
